*
{
	padding: 0;
	margin: 0;
}

@font-face
{
	font-family: "Poppins";
	src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

html, body 
{
    width: 100%;
    height: 100%;
    font-family: Poppins !important;
    color: #222222;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}