<header class="header-item thumbnail" style="background-image: url('https://source.unsplash.com/G26eJNYZA24/1920x1080');">
  <div class="container h-100 no-scale header-text">
    <div class="row h-100 header-caption align-items-center no-scale">
      <div class="col-12 text-center no-scale">
        <h1 class="display-3 no-scale">Blog</h1>
        <p class="lead no-scale">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, in.</p>
      </div>
    </div>
  </div>
</header>

<div class="jumbotron jumbotron-fluid jumbotron-edit shadow rounded-0">
  <div class="container">
    <h1 class="display-6 text-center">Voluntariado</h1>
    <p class="lead text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia vitae facilis nisi repellat, minus quisquam
      eaque asperiores eveniet!</p>
    <div class="row alig-items-center justify-content-center">
      <div class="col-md-6 ">
        <a href="https://www.google.com/intl/es_mx/forms/about/"
          class="btn btn-blue btn-lg btn-block shadow rounded-0" role="button"><i
            class="far fa-file-alt fa-lg"></i>&nbsp;Registrarse</a>
      </div>
      <div id="scrollToThis" #topblog> </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="my-4">Publicaciones</h1>

      <!-- Blog Post -->
      <li class="li my-paroller thumbnail-card" *ngFor="let post of posts">
        <div class="card mb-4 shadow rounded-0 wrap">
          <img class="card-img-top rounded-0" src="assets/img/4k.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.subtitle}}</p>
            <a [routerLink]="['/blog/publicacion',post._id]" class="btn btn-blue rounded-0">Leer más &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Publicado {{post.publication_date}} por:
            <a href="#">Demo</a>
          </div>
        </div>
      </li>

      <!--Paginación-->
      <ul class="pagination justify-content-center mb-4">
        <li id="backListButton" class="page-item disabled">
          <a class="page-link rounded-0 clickeable noselect" (click)="backListPage(true)">&larr; <span class="d-none d-lg-inline"> Anterior </span></a>
        </li>
        <li class="page-item clickeable noselect" *ngFor="let page of NumberofPagination | slice: viewListPage.start:viewListPage.end; let indexOf=index;" [class.active]="selectedPage === page" (click)="setActivePagination(page)">
          <a class="page-link noselect" (click)="changePage(page, topblog)">{{page}}</a>
        </li>
        <li id="nextListButton" class="page-item">
          <a class="page-link rounded-0 clickeable noselect" (click)="nextListPage(true)"> <span class="d-none d-lg-inline"> Siguiente </span> &rarr; </a>
        </li>
      </ul>
    </div>

    <!--Barra lateral-->
    <div class="col-md-4">
      <!--Buscardor-->
      <div class="card bg-light my-4 shadow rounded-0">
        <h5 class="card-header">Buscador de publicaciones</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control rounded-0" placeholder="Buscador">
            <span class="input-group-append">
              <button class="btn btn-blue rounded-0" type="button">Buscar</button>
            </span>
          </div>
        </div>
      </div>

      <!--Inicio de sesión-->
      <div class="card text-white bg-dark border-dark my-4 shadow rounded-0">
        <h5 class="card-header">Iniciar sesión</h5>
        <div class="card-body text-center">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-block btn-blue rounded-0" data-toggle="modal" data-target="#exampleModal">
            Ingresar (Usuario registrado)
          </button>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-block btn-danger rounded-0" data-toggle="modal" data-target="#exampleModal">
            Registrar (Nuevo usuario)
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra quam urna, quis aliquet nisi mattis scelerisque. Vestibulum ac ex tempor leo aliquam sagittis vitae condimentum enim. Donec scelerisque malesuada velit, eu dictum risus consequat sed. Vestibulum pretium volutpat nunc vitae mattis. Ut porttitor diam sed leo lacinia interdum. Fusce ut porttitor quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum erat purus, molestie ut tortor vitae, vehicula convallis mauris. Proin efficitur tincidunt eros quis semper. Fusce rhoncus mi pharetra metus gravida venenatis. Mauris at consectetur dolor. In egestas tortor nec pellentesque suscipit. Nulla facilisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra quam urna, quis aliquet nisi mattis scelerisque. Vestibulum ac ex tempor leo aliquam sagittis vitae condimentum enim. Donec scelerisque malesuada velit, eu dictum risus consequat sed. Vestibulum pretium volutpat nunc vitae mattis. Ut porttitor diam sed leo lacinia interdum. Fusce ut porttitor quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum erat purus, molestie ut tortor vitae, vehicula convallis mauris. Proin efficitur tincidunt eros quis semper. Fusce rhoncus mi pharetra metus gravida venenatis. Mauris at consectetur dolor. In egestas tortor nec pellentesque suscipit. Nulla facilisi.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra quam urna, quis aliquet nisi mattis scelerisque. Vestibulum ac ex tempor leo aliquam sagittis vitae condimentum enim. Donec scelerisque malesuada velit, eu dictum risus consequat sed. Vestibulum pretium volutpat nunc vitae mattis. Ut porttitor diam sed leo lacinia interdum. Fusce ut porttitor quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum erat purus, molestie ut tortor vitae, vehicula convallis mauris. Proin efficitur tincidunt eros quis semper. Fusce rhoncus mi pharetra metus gravida venenatis. Mauris at consectetur dolor. In egestas tortor nec pellentesque suscipit. Nulla facilisi.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>