<div class="header-item" style="background-image: url('https://source.unsplash.com/G26eJNYZA24/1920x1080');">
  <div class="container h-100">
    <div class="row h-100 header-caption align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-3">Blog</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, in.</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid jumbotron-edit shadow rounded-0">
  <div class="container">
    <h1 class="display-6 text-center">Volunteering</h1>
    <p class="lead text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia vitae facilis nisi repellat, minus quisquam
      eaque asperiores eveniet!</p>
    <div class="row alig-items-center justify-content-center">
      <div class="col-md-6 ">
        <a href="https://www.google.com/intl/es_mx/forms/about/"
          class="btn btn-blue btn-lg btn-block shadow rounded-0" role="button"><i
            class="far fa-file-alt fa-lg"></i>&nbsp;Register</a>
      </div>
    </div>
  </div>
</div>