<h1 class="font-weight-bold text-center text-lg-left pt-4">Publicaciones</h1>
<hr>
<form class="form-inline">
  <div class="row">
    <div class="col-12 col-sm-5 col-lg-5">
      <button type="button" class="btn btn-blue btn-block rounded-0" data-toggle="modal"
        data-target="#crearPublicacion"><i class="fas fa-sticky-note"></i>&nbsp;Crear
        publicación</button>
    </div>
    <div class="col-12 col-sm-4 col-lg-4">
      <input class="form-control rounded-0" type="search" placeholder="Buscar publicación"
        aria-label="Buscar usuario">
    </div>
    <div class="col-12 col-sm-3 col-lg-3">
      <button class="btn btn-danger btn-block rounded-0" type="submit"><i
          class="fas fa-search"></i>&nbsp;Buscar</button>
    </div>
</div>
</form>
<div class="container">
<div class="row justify-content-center align-items-center">
  <div class="table-responsive">
    <table class="table">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Fecha</th>
            <th scope="col">Portada</th>
            <th scope="col">Resumen</th>
            <th scope="col">Cuerpo</th>
            <th scope="col">Vídeos</th>
            <th scope="col">Imágenes</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                data-target="#editarPublicacion"><i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#borrarPublicacion"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end pt-4">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</nav>
</div>

<!--------------------------------------------------------------------------------------------------------
  ----------------------------------------- MODALS -------------------------------------------------------
  ------------------------------------------------------------------------------------------------------->

  <!-- Modal (Crear publicación)-->
<div class="modal fade bd-example-modal-lg" id="crearPublicacion" data-backdrop="static" data-keyboard="false"
  tabindex="-1" role="dialog" aria-labelledby="crearPublicacionCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="crearPublicacionLongTitle">Crear publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">

          <div class="form-group">
            <label for="resumenPublicacion">Tílulo:</label>
            <input type="text" class="form-control rounded-0" id="resumenPublicacion"
              placeholder="Escriba el título de la publicación aquí." required>
          </div>

          <div class="form-group">
            <label for="portadaPublicacion">Portada:</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input rounded-0" id="portadaPublicacion" lang="es" required>
              <label class="custom-file-label rounded-0" for="portadaPublicacion">Seleccionar imágen de
                portada.</label>
            </div>
          </div>

          <div class="form-group">
            <label for="resumenPublicacion">Resumen:</label>
            <textarea class="form-control rounded-0" id="resumenPublicacion" rows="2"
              placeholder="Escriba el resumen la publicación aquí." required></textarea>
          </div>

          <div class="form-group">
            <label for="cuerpoPublicacion">Cuerpo:</label>
            <textarea class="form-control rounded-0" id="cuerpoPublicacion" rows="4"
              placeholder="Escriba el cuerpo la publicación aquí." required></textarea>
          </div>

          <div class="form-group">
            <label for="imagenPublicacion">Imágenes:</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input rounded-0" id="imagenPublicacion" lang="es">
              <label class="custom-file-label rounded-0" for="imagenPublicacion">Selecciones una imágen.</label>
            </div>
          </div>

          <div class="form-group">
            <label for="transmisionPublicacion">Transmisión:</label>
            <input type="text" class="form-control rounded-0" id="transmisionPublicacion"
              placeholder="Escriba la URL de la trasmisión aquí.">
          </div>

          <button class="btn btn-blue btn-block rounded-0">Añadir imágen</button>
          <button class="btn btn-blue btn-block rounded-0">Añadir transmisión (<i class="fab fa-facebook-f"></i>
            Live)</button>

          <button class="btn btn-danger btn-block rounded-0">Borrar imágen</button>
          <button class="btn btn-danger btn-block rounded-0">Borrar transmisión (<i class="fab fa-facebook-f"></i>
            Live)</button>

          <button type="submit" class="btn btn-success btn-block rounded-0">Crear publicación</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Editar publicacion)-->
<div class="modal fade bd-example-modal-lg" id="editarPublicacion" data-backdrop="static" data-keyboard="false"
  tabindex="-1" role="dialog" aria-labelledby="editarPublicacionCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="editarPublicacionLongTitle">Editar publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="">

          <div class="form-group">
            <label for="resumenPublicacionEdit">Tílulo:</label>
            <input type="text" class="form-control rounded-0" id="resumenPublicacionEdit"
              placeholder="Escriba el título de la publicación aquí." required>
          </div>

          <div class="form-group">
            <label for="fechaPublicacionEdit">Fecha:</label>
            <input type="datetime-local" class="form-control rounded-0" id="fechaPublicacionEdit" name="fecha-publicacion-edit"
              value="2020-11-01T00:00" min="2020-11-01T00:00" max="2030-12-31T00:00" disabled>
          </div>

          <div class="form-group">
            <label for="portadaPublicacionEdit">Portada:</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input rounded-0" id="portadaPublicacionEdit" lang="es" required>
              <label class="custom-file-label rounded-0" for="portadaPublicacion">Seleccionar imágen de
                portada.</label>
            </div>
          </div>

          <div class="form-group">
            <label for="resumenPublicacionEditar">Resumen:</label>
            <textarea class="form-control rounded-0" id="resumenPublicacionEdit" rows="2"
              placeholder="Escriba el resumen la publicación aquí." required></textarea>
          </div>

          <div class="form-group">
            <label for="cuerpoPublicacionEditar">Cuerpo:</label>
            <textarea class="form-control rounded-0" id="cuerpoPublicacionEdit" rows="4"
              placeholder="Escriba el cuerpo la publicación aquí." required></textarea>
          </div>

          <div class="form-group">
            <label for="imagenPublicacionEdit">Imágenes:</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input rounded-0" id="imagenPublicacionEdit" lang="es">
              <label class="custom-file-label rounded-0" for="imagenPublicacion">Selecciones una imágen.</label>
            </div>
          </div>

          <div class="form-group">
            <label for="transmisionPublicacionEdit">Transmisión:</label>
            <input type="text" class="form-control rounded-0" id="transmisionPublicacionEdit"
              placeholder="Escriba la URL de la trasmisión aquí.">
          </div>

          <button class="btn btn-blue btn-block rounded-0">Añadir imágen</button>
          <button class="btn btn-blue btn-block rounded-0">Añadir transmisión (<i class="fab fa-facebook-f"></i>
            Live)</button>
          <button class="btn btn-danger btn-block rounded-0">Borrar imágen</button>
          <button class="btn btn-danger btn-block rounded-0">Borrar transmisión (<i class="fab fa-facebook-f"></i>
            Live)</button>

          <button type="submit" class="btn btn-success btn-block rounded-0">Editar publicación</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Eliminar publicación)-->
<div class="modal fade" id="borrarPublicacion" tabindex="-1" role="dialog"
  aria-labelledby="borrarPublicacionCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="borrarPublicacionLongTitle">Borrar publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo sit eius voluptates
          hic magni animi, quos
          fugiat, totam officia suscipit excepturi quasi ipsa blanditiis?</p>
        <form action="" method="post">
          <button type="submit" class="btn btn-danger btn-block rounded-0">Borrar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>