<h1 class="font-weight-bold text-center text-lg-left pt-4">Perfil</h1>
<hr>
<div class="row">
  <div class="col-12 col-sm-6 col-lg-3">
    <button type="button" class="btn btn-blue btn-block rounded-0"><i class="fas fa-user-edit"></i>&nbsp;Editar
      perfil</button>
  </div>

  <div class="col-12 col-sm-6 col-lg-3">
    <button class="btn btn-danger btn-block rounded-0"><i class="fas fa-sign-out-alt"></i>&nbsp;Cerrar
      sesión</button>
  </div>
</div>
<hr>
<form>
  <div class="form-group row">
    <label for="adminNombre" class="col-sm-4 col-lg-2 col-form-label">Nombres(s):</label>
    <div class="col-sm-8 col-lg-10">
      <input type="text" class="form-control rounded-0" id="adminNombre" placeholder="Nombre(s)">
    </div>
  </div>
  <div class="form-group row">
    <label for="adminApellidos" class="col-sm-4 col-lg-2 col-form-label">Apellidos:</label>
    <div class="col-sm-8 col-lg-10">
      <input type="text" class="form-control rounded-0" id="adminApellidos" placeholder="Apellidos">
    </div>
  </div>
  <div class="form-group row">
    <label for="adminNickname" class="col-sm-4 col-lg-2 col-form-label">Nickname:</label>
    <div class="col-sm-8 col-lg-10">
      <input type="text" class="form-control rounded-0" id="adminNickname" placeholder="Nickname">
    </div>
  </div>
  <div class="form-group row">
    <label for="adminEmail" class="col-sm-4 col-lg-2 col-form-label">E-mail:</label>
    <div class="col-sm-8  col-lg-10">
      <input type="email" class="form-control rounded-0" id="adminEmail" placeholder="E-mail">
    </div>
  </div>
  <div class="form-group row">
    <label for="adminPassword" class="col-sm-4 col-lg-2 col-form-label">Contraseña:</label>
    <div class="col-sm-8 col-lg-10">
      <input type="password" class="form-control rounded-0" id="adminPassword" placeholder="Contraseña">
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <div class="col-12 col-sm-6 col-lg-3">
      <button type="submit" class="btn btn-success btn-block rounded-0"><i class="fas fa-save"></i>&nbsp;Guardar
        cambios</button>
    </div>
  </div>
</form>