<div class="h-100 mt-5 d-flex justify-content-center align-items-center" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
  </div>
</div>
<div *ngIf="!loading">
  <!--Contenido de página-->
  <div class="container">
    <div class="row">
      <!--Columna de Contenido-->
      <div class="col-lg-10 mx-auto">
        <!-- Título-->
        <h1 class="mt-4">{{post.title}}</h1>
        <!-- Video -->
        <div id="fb-root"></div>
        <!-- IF POST CONTAIN VIDEO, THIS DIV WILL SHOWED -->
        <div> 
          <!-- FACEBOOK VIDEO LINK IN DATA-HREF (ANGULAR VAR) -->
          <div class="fb-video" 
          data-href="https://www.facebook.com/wereverwerooficial/videos/457746775141737/"
          data-autoplay = "true"
          data-show-text="false" 
          data-width="auto"></div>
        </div>
        <!--Autor-->
        <p class="lead">por Demo</p>
        <hr>
        <!--Fecha-->
        <p>Publicado {{post.publication_date}}</p>
        <hr>
        <!--Imáge de post-->
        <img class="img-fluid shadow rounded-0" src="assets/img/blog-post.jpg" alt="">
        <hr>
        <!--Contenido de publicación-->
        <p>
          {{post.message}}
        </p>
        <!--Formulario de comentarios-->
        <div class="card rounded-0 my-4">
          <h5 class="card-header">Deje un comentario</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-blue rounded-0">Enviar</button>
            </form>
          </div>
        </div>

        <!--Comentarios-->
        <li class="clearli" *ngFor="let comment of post.comments">
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0 mb-0">{{comment.id_user}}  </h5> 
              <small class="mt-0 mb-2 d-block"> Publicado {{comment.message_date}} </small>
              {{comment.comment}}
            </div>
          </div>
        </li>

      </div>
    </div>
  </div>
</div>