.container
{
	margin-top: 6%;
}

.clearli
{
	list-style: none;
}

@media (max-width: 767.98px) 
{
	.container
	{
		margin-top: 12%;
	}

	.mycarusel
	{
		height: 80px !important;
	}
}