<h1 class="font-weight-bold text-center text-lg-left pt-4">Usuarios</h1>
<hr>
<form class="form-inline">
	<div class="row">
		<div class="col-12 col-sm-5 col-lg-5">
		  <button type="button" class="btn btn-blue btn-block rounded-0" data-toggle="modal"
		    data-target="#crearUsuario"><i class="fas fa-user-plus"></i>&nbsp;Crear
		    usuario</button>
		</div>
	    <div class="col-12 col-sm-4 col-lg-4">
	      <input class="form-control rounded-0" type="search" placeholder="Buscar usuarios" aria-label="Buscar usuario">
	    </div>
	    <div class="col-12 col-sm-3 col-lg-3">
	      <button class="btn btn-danger btn-block rounded-0" type="submit"><i
	          class="fas fa-search"></i>&nbsp;Buscar</button>
	    </div>
	</div>
</form>
<div class="container">
<div class="row justify-content-center align-items-center">
  <div class="table-responsive">
    <table class="table">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre(s)</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Nickname</th>
            <th scope="col">Promover</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0 text-center" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end  pt-4">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</nav>
</div>

<!--------------------------------------------------------------------------------------------------------
  ----------------------------------------- MODALS -------------------------------------------------------
  ------------------------------------------------------------------------------------------------------->

  <!-- Modal (Crear usuario)-->
<div class="modal fade" id="crearUsuario" tabindex="-1" role="dialog" aria-labelledby="crearUsuarioCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="crearUsuarioLongTitle">Crear usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <div class="form-group">
            <label for="text">Nombres(s):</label>
            <input type="text" class="form-control rounded-0" id="nombreRegisto" required
              placeholder="Ingrese el (los) nombre(s) del usuario aquí.">
          </div>
          <div class="form-group">
            <label for="text">Apellidos:</label>
            <input type="text" class="form-control rounded-0" id="apellidosRegisto"
              placeholder="Ingrese los apellidos del usuario aquí." required>
          </div>
          <div class="form-group">
            <label for="text">Nickname:</label>
            <input type="text" class="form-control rounded-0" id="nicknameRegisto"
              placeholder="Ingrese el nickname del usuario aquí." required>
          </div>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control rounded-0" id="emailRegisto"
              placeholder="Ingrese el e-mail del usuario aquí." required>
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control rounded-0" id="contraseniaRegistro"
              placeholder="Ingrese la contraseña del usuario aquí." required>
          </div>
          <button type="submit" class="btn btn-success btn-block rounded-0">Crear usuario</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Promover usuario)-->
<div class="modal fade" id="promoverUsuario" tabindex="-1" role="dialog" aria-labelledby="promoverUsuarioCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="promoverUsuarioLongTitle">Promover usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo sit eius voluptates
          hic magni animi, quos
          fugiat, totam officia suscipit excepturi quasi ipsa blanditiis?</p>
        <form action="" method="post">
          <button type="submit" class="btn btn-warning btn-block rounded-0">Promover</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Borrar usuario)-->
<div class="modal fade" id="eliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="borrarUsuarioCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="borrarUsuarioLongTitle">Borrar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo sit eius voluptates
          hic magni animi, quos
          fugiat, totam officia suscipit excepturi quasi ipsa blanditiis?</p>
        <form action="" method="">
          <button type="submit" class="btn btn-danger btn-block rounded-0">Borrar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>