<h1 class="font-weight-bold text-center text-lg-left pt-4">Usuarios</h1>
<hr>
<form class="form-inline">
	<div class="row">
		<div class="col-12 col-sm-5 col-lg-5">
		  <button type="button" class="btn btn-blue btn-block rounded-0" data-toggle="modal"
		    data-target="#crearUsuario"><i class="fas fa-user-plus"></i>&nbsp;Crear
		    usuario</button>
		</div>
	    <div class="col-12 col-sm-4 col-lg-4">
	      <input class="form-control rounded-0" type="search" placeholder="Buscar usuarios" aria-label="Buscar usuario">
	    </div>
	    <div class="col-12 col-sm-3 col-lg-3">
	      <button class="btn btn-danger btn-block rounded-0" type="submit"><i
	          class="fas fa-search"></i>&nbsp;Buscar</button>
	    </div>
	</div>
</form>
<div class="container">
<div class="row justify-content-center align-items-center">
  <div class="table-responsive">
    <table class="table">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre(s)</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Nickname</th>
            <th scope="col">Promover</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0 text-center" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td><button type="button" class="btn btn-warning rounded-0" data-toggle="modal"
                data-target="#promoverUsuario"><i class="fas fa-arrow-up"></i></button>
            </td>
            <td><button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                data-target="#eliminarUsuario"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end  pt-4">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</nav>
</div>

<!-- Modal (Crear usuario)-->
<div class="modal fade" id="crearUsuario" tabindex="-1" role="dialog" aria-labelledby="crearUsuarioCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content rounded-0">
    <div class="modal-header">
      <h5 class="modal-title" id="crearUsuarioLongTitle">Crear usuario</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>

<!-- Modal (Promover usuario)-->
<div class="modal fade" id="promoverUsuario" tabindex="-1" role="dialog" aria-labelledby="promoverUsuarioCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content rounded-0">
    <div class="modal-header">
      <h5 class="modal-title" id="promoverUsuarioLongTitle">Promover usuario</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>

<!-- Modal (Eliminar usuario)-->
<div class="modal fade" id="eliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="eliminarUsuarioCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content rounded-0">
    <div class="modal-header">
      <h5 class="modal-title" id="eliminarUsuarioLongTitle">Borrar usuario</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>