<h1 class="font-weight-bold text-center text-lg-left pt-4">Usuarios</h1>
<hr>
<div class="h-100 mt-5 d-flex justify-content-center align-items-center" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
  </div>
</div>
<div *ngIf="!loading">
  <form class="form-inline">
  	<div class="row">
  		<div class="col-12 col-sm-5 col-lg-5">
  		  <button type="button" class="btn btn-blue btn-block rounded-0" data-toggle="modal"
  		    data-target="#crearUsuario"><i class="fas fa-user-plus"></i>&nbsp;Crear
  		    usuario</button>
  		</div>
	    <div class="col-12 col-sm-4 col-lg-4">
	      <input #searchInput [ngStyle]="{'border': searchBorderColor}" class="form-control rounded-0" type="search" placeholder="Email o Nickname" aria-label="Email o Nickname">
	    </div>
	    <div class="col-12 col-sm-3 col-lg-3">
	      <button class="btn btn-danger btn-block rounded-0" type="submit" data-toggle="modal" data-target="#searchUserModal" (click)="searchUser()"><i class="fas fa-search"></i>&nbsp;Buscar</button>
	    </div>
  	</div>
  </form>
  <div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="table-responsive">
      <table class="table">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre(s)</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Email</th>
              <th scope="col">Nickname</th>
              <th scope="col">Editar</th>
              <th scope="col">Promover</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let indexOf=index">
              <th scope="row">{{indexOf+1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.lastname}}</td>
              <td>{{user.email}}</td>
              <td>{{user.nickname}}</td>
              <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                  data-target="#editarAdmin" (click)="getUserIDEdit(user._id)"><i class="fas fa-pencil-alt"></i>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-warning rounded-0" data-toggle="modal" data-target="#promoverUsuario" (click)="getUserID(user._id)"><i class="fas fa-arrow-up"></i></button>
              </td>
              <td>
                <button type="button" class="btn btn-danger rounded-0 text-center" data-toggle="modal"data-target="#eliminarUsuario" (click)="getUserID(user._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <!--Paginación-->
    <ul class="pagination justify-content-center mb-4">
      <li id="backListButton" class="page-item">
        <a class="page-link rounded-0 clickeable noselect" (click)="backListPage(true)">&larr; <span class="d-none d-lg-inline"> Anterior </span></a>
      </li>
      <li class="page-item clickeable noselect" *ngFor="let page of NumberofPagination | slice: viewListPage.start:viewListPage.end; let indexOf=index;" [class.active]="selectedPage == page" (click)="setActivePagination(page)">
        <a class="page-link noselect" (click)="changePage(page)">{{page}}</a>
      </li>
      <li id="nextListButton" class="page-item">
        <a class="page-link rounded-0 clickeable noselect" (click)="nextListPage(true)"> <span class="d-none d-lg-inline"> Siguiente </span> &rarr; </a>
      </li>
    </ul>
  </nav>
  </div>

  <!--------------------------------------------------------------------------------------------------------
    ----------------------------------------- MODALS -------------------------------------------------------
    ------------------------------------------------------------------------------------------------------->

    <!-- Modal (Crear usuario)-->
  <div class="modal fade" id="crearUsuario" tabindex="-1" role="dialog" aria-labelledby="crearUsuarioCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="crearUsuarioLongTitle">Crear usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #registerform="ngForm" (ngSubmit)="onSubmitRegister(registerform)">
            <div class="form-group">
              <label for="text">Nombres(s):</label>
              <input type="text" class="form-control rounded-0" name="registerName" #registerName ngModel required placeholder="Ingrese el (los) nombre(s) del usuario aquí.">
            </div>
            <div class="form-group">
              <label for="text">Apellidos:</label>
              <input type="text" class="form-control rounded-0" name="registerLastname" #registerLastname ngModel placeholder="Ingrese los apellidos del usuario aquí." required>
            </div>
            <div class="form-group">
              <label for="text">Nickname:</label>
              <input type="text" class="form-control rounded-0" name="registerNickname" #registerNickname ngModel placeholder="Ingrese el nickname del usuario aquí." required>
            </div>
            <div class="form-group">
              <label for="email">E-mail:</label>
              <input type="email" class="form-control rounded-0" name="registerEmail" #registerEmail ngModel placeholder="Ingrese el e-mail del usuario aquí." required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control rounded-0" name="registerPassword" #registerPassword ngModel placeholder="Ingrese la contraseña del usuario aquí." required>
            </div>
            <!-- ALERT IF FORM HAS ERROR -->
            <div class="alert alert-danger" role="alert" *ngIf="registerError">
              {{registerErrorMessage}}
            </div>
            <button type="submit" class="btn btn-success btn-block rounded-0" [disabled]="!registerform.valid">Crear usuario</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-0" #registerModal data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal (Editar administrador)-->
  <div class="modal fade" id="editarAdmin" tabindex="1" role="dialog" aria-labelledby="editarAdminCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="editarAdminLongTitle">Editar usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editform="ngForm">
            <div class="form-group">
              <label for="text">Nombres(s):</label>
              <input type="text" class="form-control rounded-0" name="editName" ngModel #editName required placeholder="Edite el (los) nombre(s) del usuario aquí.">
            </div>
            <div class="form-group">
              <label for="text">Apellidos:</label>
              <input type="text" class="form-control rounded-0" name="editLatname" ngModel #editLastname placeholder="Edite los apellidos del usuario aquí." required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control rounded-0" name="editPassword" ngModel #editPassword placeholder="Edite la contraseña del usuario aquí." required>
            </div>
            <button type="submit" class="btn btn-success btn-block rounded-0" (click)="updateUser()">Actualizar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal" #editModal>Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal (Promover usuario)-->
  <div class="modal fade" id="promoverUsuario" tabindex="-1" role="dialog" aria-labelledby="promoverUsuarioCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="promoverUsuarioLongTitle">Promover usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo sit eius voluptates
            hic magni animi, quos
            fugiat, totam officia suscipit excepturi quasi ipsa blanditiis?</p>
          <form action="" method="post">
            <button type="submit" class="btn btn-warning btn-block rounded-0" (click)="upgrade()">Promover</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-0" #upgradeModal data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal (Borrar usuario)-->
  <div class="modal fade" id="eliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="borrarUsuarioCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="borrarUsuarioLongTitle">Borrar usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo sit eius voluptates
            hic magni animi, quos
            fugiat, totam officia suscipit excepturi quasi ipsa blanditiis?</p>
          <form action="" method="">
            <button type="submit" class="btn btn-danger btn-block rounded-0" (click)="delete()">Borrar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary rounded-0" #deleteModal data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal (Buscar usuario)-->
  <div class="modal fade" id="searchUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropSearchUser" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchUserModal">Resultado de busqueda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="enableSearch">
            <div class="table-responsive">
              <table class="table">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre(s)</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Email</th>
                      <th scope="col">Nickname</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Promover</th>
                      <th scope="col">Borrar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>{{search.name}}</td>
                      <td>{{search.lastname}}</td>
                      <td>{{search.email}}</td>
                      <td>{{search.nickname}}</td>
                      <td><button type="button" class="btn btn-blue rounded-0" data-toggle="modal"
                          data-target="#editarAdmin" (click)="getUserIDEdit(search._id)"><i class="fas fa-pencil-alt"></i>
                        </button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-warning rounded-0" data-toggle="modal" data-target="#promoverUsuario" (click)="getUserID(search._id)"><i class="fas fa-arrow-up"></i></button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger rounded-0 text-center" data-toggle="modal"data-target="#eliminarUsuario" (click)="getUserID(search._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </table>
            </div>
          </div>
          <div *ngIf="!enableSearch">
            <span> Ningun Resultado </span>
          </div>
        </div>
        <div class="modal-footer">
          <button #closeSearch type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>