<header class="header-item thumbnail" style="background-image: url('https://source.unsplash.com/ZR48YvUpk04/1920x1080');">
  <div class="container h-100 no-scale header-text">
    <div class="row h-100 header-caption align-items-center no-scale">
      <div class="col-12 text-center no-scale">
        <h1 class="display-3 no-scale">Historia</h1>
        <p class="lead no-scale">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, in.</p>
      </div>
    </div>
  </div>
</header>

<div class="jumbotron jumbotron-fluid jumbotron-edit shadow rounded-0">
  <div class="container">
    <h1 class="display-6 text-center">Nuestra Historia</h1>
    <p class="lead text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia vitae facilis nisi repellat, minus quisquam
      eaque asperiores eveniet!</p>
    <div class="row alig-items-center justify-content-center">
      <div class="col-md-6 ">
        <a href="#" class="btn btn-blue btn-lg btn-block shadow rounded-0" role="button"><i
            class="fa fa-download fa-lg"></i>&nbsp;Descargar</a>
      </div>
    </div>
  </div>
</div>

<!--Acerca de (Sección)-->
<div class="container">
  <h1 class="my-5">Lorem ipsum dolor sit amet consectetur.
    <small>Lorem ipsum dolor sit.</small>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid shadow rounded-0" src="assets/img/example-logo.jpg" alt="">
    </div>
    <div class="col-md-4">
      <h2 class="my-3">Lorem ipsum dolor.</h2>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quam perferendis temporibus, sed ea explicabo
        accusamus eaque magni non commodi nisi nobis pariatur, ducimus, unde deleniti velit ex quidem rem? Autem
        praesentium pariatur sed exercitationem.
      </p>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto earum corrupti, at maxime obcaecati
        mollitia eveniet suscipit accusamus cumque vero velit ipsum maiores rem molestiae fuga adipisci distinctio
        error recusandae odit voluptatum natus laudantium consequuntur.
      </p>
    </div>
  </div>
</div>

<!--Sede (Sección)-->
<div class="container">
  <h1 class="my-4">Lorem, ipsum dolor.
    <small>Lorem ipsum dolor sit amet consectetur.</small>
  </h1>
  <!--Mapa-->
  <section class="pt-0">
    <div class="container-fluid p-0">
      <iframe class="map shadow rounded-0"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15030.101967226594!2d-99.2285055!3d19.647574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd7735472495ee4aa!2sTecnol%C3%B3gico%20de%20Estudios%20Superiores%20de%20Cuautitl%C3%A1n%20Izcalli!5e0!3m2!1ses-419!2smx!4v1594110994736!5m2!1ses-419!2smx"
        width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </section>
</div>

<!--Trayectoria & Garantía (Sección)-->
<div class="container">
  <h1 class="my-4">Lorem, ipsum dolor.
    <small>Lorem ipsum dolor sit amet consectetur.</small>
  </h1>
  <div>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, soluta, fugit quam cum
      deserunt voluptas sapiente minus, quibusdam illum molestias recusandae aperiam placeat tempora sit odio. Eius
      reiciendis ducimus tenetur quisquam nam enim possimus est optio. Assumenda voluptate reprehenderit repudiandae
      voluptatum velit voluptates ex saepe ducimus, laborum officia unde beatae.</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta sequi culpa, optio nobis
      sed porro eius! Tempore minima quisquam doloremque ratione distinctio ab maiores voluptatum suscipit. Dolore
      saepe atque molestiae eveniet eius, blanditiis ab perferendis! Enim non ipsum voluptas aperiam repellendus, quo
      fugit vero aspernatur hic necessitatibus, vel totam dolorum?</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, quia sit beatae qui
      exercitationem sed explicabo id praesentium temporibus ratione harum itaque quas iure cupiditate culpa atque
      quasi blanditiis. Sequi sed delectus dolore eius, aliquam temporibus corrupti molestias laborum eligendi minima.
      Error quas laboriosam quasi quisquam, aspernatur quibusdam ab a!</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore temporibus doloremque
      dicta! Enim ratione modi similique est ab cupiditate mollitia veniam quo quaerat. Nisi odio, ut fugit delectus
      hic porro blanditiis possimus provident ex placeat aliquid amet corporis excepturi doloremque earum laborum,
      necessitatibus sapiente quos incidunt similique! Neque, sapiente cupiditate!</p>
    <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi beatae aperiam nam
      dolor saepe, nostrum exercitationem perferendis, fugit iusto ratione quae dignissimos est magnam iure obcaecati,
      eaque qui? Omnis, nam quos dolorum reiciendis corrupti aliquam eligendi, delectus, nisi cupiditate vero at harum
      fugiat. Consectetur quo in voluptatem. Culpa, fuga voluptates.
    </p>
    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio consequatur corporis
      nulla alias accusamus soluta consectetur omnis dicta ipsam amet? Quaerat aspernatur ducimus, sit sunt nihil
      error corporis itaque fugiat ullam necessitatibus delectus earum magnam unde maxime ipsa dolores soluta, optio
      omnis amet nesciunt vero molestiae. Molestiae delectus eligendi aperiam.
    </p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, natus? Modi commodi
      in maiores beatae? Harum dolorum sit incidunt voluptatem vero ex, doloremque soluta voluptatibus accusantium
      explicabo. Itaque, necessitatibus maxime. Similique, itaque quam? Obcaecati modi expedita illo culpa repudiandae
      excepturi dolorum, dicta esse enim reprehenderit et nemo minus tenetur sapiente!
    </p>
  </div>
</div>

<div class="container">
  <h1 class="my-4">Lorem, ipsum dolor.
    <small>Lorem ipsum dolor sit amet consectetur.</small>
  </h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <a href="#"><img class="card-img-top shadow rounded-0" src="assets/img/thumbnail.svg"
            alt="Card image cap"></a>
      </div>
    </div>
  </div>
</div>